body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.wrapper{
    background-color: #303841;
}


.title{
    font-size: 1.5rem;
    color: #eeeeee;
    text-transform: uppercase;
    text-decoration: none;
}
.container-fluid{
    margin-top: 15px;
}

.header-left{
    color: #eeeeee;
    font-size: 1.8rem;
    margin: 1rem;
    text-decoration: none;
}

.header-right ul li a{
    color: #eeeeee;
}

#menu-bar{
    color: #eeeeee;
    border: .1rem solid #fff;
    border-radius: .4rem;
    font-size: 1.5rem;
    padding: .4rem 0.6rem;
    cursor: pointer;
    margin-right: 15px;
    display: none;
}

.pic img{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 30px;
}

.mid{
  display: flex;
  justify-content: space-between;
}

.mid-left .mid-locat button{
    color: #eeeeee;
    background-color: #Df2323;
    line-height: 45px;
    font-size: 25px;
    font-style: bold;
    font-family:'Times New Roman', Times, serif;
    border: none;
    padding: 0px;
}

.search-bar-container #search-bar{
    justify-content: flex-end;
    width: 270px;
    height: 35px;
    border: none;
}

.All-content-locat{
    width: 100%;
}

.content-locat{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
   justify-content: space-between;


}

.locatCinema{
    width:410px;
    height: 400px;
    color: #eeeeee;
    background-color: #3a475044;
    box-shadow: 1px 1px 10px rgba(245, 245, 245, 0.438);
    padding: 20px;
    margin-bottom: 35px;
}
.title,.caption,.maindesc{
    display: flex;
}

.title{

    justify-content: center;
    margin-top: 10px;
}
.fa-solid{
    font-size: 50px;
}
.title h5{
    margin-left: 20px;
}
.caption{
    margin-top: 60px;

    /* justify-content: space-between; */
}
.btn{
    margin-bottom: 20px;
    /* background-color: #d72323; */
    border: none;

}
.btn-caption{
    padding: 10px 30px;
    margin: 0px 10px;
}

.text-search , .btn-search{
    height: 40px;
}
.text-search{
    border-radius: 5px 0px 0px 5px ;
    border: none;
   width: 300px;
}
.desc{
    width: 100%;
    margin-top: 60px;
    font-size: 14px;
    color: grey;
    line-height: 1.86;
}

.locatCinema{
    box-shadow: 0px 0px 0px 0px;
}



/* Media Query */
/* Small devices (portrait tablets and large phones, 600px and up) */
@media (max-width: 600px) {
    .title{
        font-size: 1.3rem;
    }


}

  /* medium devices (portrait tablets and large phones, 768px and up) */
  @media (max-width: 768px) {

    .nav-item{
        display: none;
    }
    #menu-bar{
        display: initial;
    }
    .mid-left{
        display: none;
    }

    .mid-left .mid-locat button{
        color: #eeeeee;
        background-color: #d72323;
        line-height: 25px;
        font-size: 25px;
        font-style: bold;
        font-family:'Times New Roman', Times, serif;
        border: none;
        padding: 7px;
    }
  }

  /* Small devices (portrait tablets and large phones, 850px and up) */
  @media (max-width: 850px) {

  }



  /* medium devices (portrait tablets and large phones, 992px and up) */
  @media (max-width: 992px) {
    .mid{
        display: flex;
        justify-content: space-around;
      }
  }

  /* medium devices (portrait tablets and large phones, 1200px and up) */
  @media (max-width: 1200px) {

  }

  /* medium devices (portrait tablets and large phones, 1250px and up) */
  @media (max-width: 1250px) {

  }

   /* medium devices (portrait tablets and large phones, 1400px and up) */
   @media (max-width: 1400px) {
     .content-locat{
        width: 100%;
        display: flex;
        flex-flow: row wrap;
       justify-content: space-evenly;
    }
}
