:root {

    --white: #EEEEEE;
    --primary:#303841;
    --secondary:#3A4750;
    --red-color:#D72323;
  }

.card{
    background-color:var(--secondary) ;
}
.card-body > .card-title{
    color: white;
    font-weight: 600;

}
.card-body > .card-inner,.card-bot {
    margin-top: 10px;
    font-size: 14px;
    color:white;
    font-weight:200;
}

.movie-container {
    margin: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
  }

  .movie-container select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: 0;
    padding: 5px 15px;
    margin-bottom: 40px;
    font-size: 14px;
    border-radius: 5px;
  }

  .container-box {
    perspective: 1000px;
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .seat {
    background-color: #444451;
    height: 63px;
    width: 68px;
    margin: 3px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .seats {
    background-color: #444451;
    height: 23px;
    width: 28px;
    margin: 0px 15px;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .selected {
    background-color: #0081cb;
  }

  .occupied {
    background-color: #fff;
  }

  .seat:nth-of-type(2) {
    margin-right: 18px;
  }

  .seat:nth-last-of-type(2) {
    margin-left: 18px;
  }

  .seat:not(.occupied):hover {
    cursor: pointer;
    transform: scale(1.2);
  }

  .showcase .seat:not(.occupied):hover {
    cursor: default;
    transform: scale(1);
  }

  .showcase {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    background: rgba(0,0,0,0.1);
    padding: 5px 10px;
    border-radius: 5px;
    color: #777;
  }

  .showcase li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
  }

  .showcase li small {
    margin-left: 2px;
  }

  .row {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .screen {
    background: #fff;
    height: 70px;
    width: 70%;
    margin: 15px 0;
    transform: rotateX(-45deg);
    box-shadow: 0 3px 10px rgba(255,255,255,0.7);
  }

  p.text {
    margin: 40px 0;
  }

  p.text span {
    color: #0081cb;
    font-weight: 600;
    box-sizing: content-box;
  }

  .credits a {
    color: #fff;
  }
  .row-check p{
    padding: 0px 20px;

  }
