:root {

    --white: #EEEEEE;
    --primary:#303841;
    --secondary:#3A4750;
    --red-color:#D72323;
  }
  .custom-select, input[type=search]{
    background-color: var(--secondary);
    border: 0px;
    color:var(--white)


}
input[type=search]{

}
hr{
    background-color:#8C8371;
}
.btn-groupcol-12 > button{
    background-color: var(--secondary);
    margin: 10px 15px;

}

.btn-groupcol-12 > #selected{
    background-color: var(--red-color);

}

@media only screen and (max-width: 991px) {
    body {

    }
    .custom-select{
        margin-bottom: 30px;
    }
    hr{
        margin-bottom: 45px;
    }
}
