body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.wrapper{
    width: 100%;
    background-color: #303841;
}


/* Menu Bar */
.title{
    font-size: 1.5rem;
    color: #eeeeee;
    text-transform: uppercase;
    text-decoration: none;
}


.header-left{
    color: #eeeeee;
    font-size: 1.8rem;
    margin: 1rem;
    text-decoration: none;
}

.header-right ul li a{
    color: #eeeeee;
}

#menu-bar{
    color: #eeeeee;
    border: .1rem solid #fff;
    border-radius: .4rem;
    font-size: 1.5rem;
    padding: .4rem 0.6rem;
    cursor: pointer;
    margin-right: 15px;
    display: none;
}

/* end Menu Bar */




.Allmaincontent{
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 80px;
}

.maincontent-left{
    width: 65%;
    margin-right: 100px;
    /* padding-right: 40px; */
}
.maincontent-right{
    width: 35%;
}
.maincontent-right img{
    width: 100%;
}

.mid{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .mid-left .mid-locat button{
      color: #eeeeee;
      background-color: #Df2323;
      line-height: 45px;
      font-size: 25px;
      font-style: bold;
      font-family:'Times New Roman', Times, serif;
      border: none;
      /* padding: 10px; */
  }

  .text-search , .btn-search{
    height: 40px;
}
.btn-search{
    background-color: #3A4750;
   border: none;
}
.text-search{
    border-radius: 5px 0px 0px 5px ;
    border: none;
   width: 350px;
   background-color: #3A4750;
}
.fas{
    color: gray;
}

  .search-bar-container #search-bar{
      /* justify-content: flex-end; */
      width: 270px;
      height: 35px;
      border: none;
  }


  /* content detail */
.content-detail{
    width: 100%;
}


    .main-detail{
        width: 100%;
    }
    .maincontent-detail{
        /* display: flex; */
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
    }

    .detail-left{
        width: 30%;
    }
    .detail-right{
        width: 70%;
        font-size: 18px;
        color: #eeeeee;
        margin-left: 100px;
    }
    .detail-right button{
        border: none;
        color: #eeeeee;
        font-size: 18px;
        background-color: #Df2323;
        height: 60px;
        margin-bottom: 20px;
    }
    .text{
        margin: 20px 0 20px 0;
        display: flex;
        justify-content: space-between;
    }
    .text span{
        font-size: 20px;
        font-weight: 300;
        text-transform: uppercase;
        /* margin-right: 50px; */
    }


    .desc{
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
    }
   /* .desc span{
        margin-right: 135px;
   } */
   .btn-Time{
    margin-top: 30px;
   }
   .btn-Time button{

        width: 100px;
        height: 40px;

   }

  /* end content detail */




   /* maincontent-right */
        /* infor */

        .Maininfor{
            background-color:  #3A4750;
            color: #eeeeee;
            height: 498px;
            border-radius: 0 0 15px 15px;
        }
        .infor{
            margin: 0 20px 0 20px;
        }
        .Miantitle{
            font-size: 30px;
            font-weight:500;
            text-align: center;
        }
        .infor h5{
            font-size: 16px;
            margin-top: 25px;
        }
        span{
            font-weight: 300    ;
        }
        h5 span{
            margin-left: 15px;

        }
        p{
            margin-top: 25px;
        }
        .Moviedesc{
            font-weight: 300    ;
        }

        .detail-right button {
            border: none;
            color: #eeeeee;
            background-color: #dc3545;
            font-size: 18px;
            font-weight: 500;



            margin-bottom: 20px;
        }
        /* #showtime{
            background-color: #3A4750;
            margin-bottom: 10px;
            margin-right: 10px;
        }
        #showtime:hover{
            background-color:#Df2323;
            margin-bottom: 10px;
            transition: 500ms linear;
            margin-right: 10px;
        } */
   /*end maincontent-right */




/* Media Query */
/* Small devices (portrait tablets and large phones, 600px and up) */
@media (max-width: 600px) {
ntent-detail{
        width: 100%;
    }
    .main-detail{
        width: 100%;
    }
    .maincontent-detail{
        width: 100%;
        display: block;
    }
    .detail-left{
        width: 100%;
      margin: auto;
    }

    .detail-right{
        width: 100%;
        margin-top: 20px;
    }
    .text span{
        font-size: 30px;
    }
    .mid,.content-detail{
        margin-left: -10%;
    }

}

  /* medium devices (portrait tablets and large phones, 768px and up) */
  @media (max-width: 768px) {

    .nav-item{
        display: none;
    }
    #menu-bar{
        display: initial;
    }
    .mid-locat{
        display: none;
    }


    .Allmaincontent{
        display: block;
    }

    .content-detail{
        width: 100%;
    }
    .main-detail{
        width: 100%;
    }
    .maincontent-detail{
        width: 100%;
    }
    .detail-left{
        width: 40%;
    }
    .detail-right{
        width: 60%;
    }
    .text span{
        font-size: 18px;
        padding-right: 15px;
    }

  }

  /* Small devices (portrait tablets and large phones, 850px and up) */
  @media (max-width: 850px) {
    .content-detail{
        width: 100%;
    }
    .main-detail{
        width: 100%;
    }
    .maincontent-detail{
        width: 100%;
    }
    .detail-left{
        width: 20%;
    }
    .detail-right{
        width: 80%;
        margin-left: 120px;
    }

  }



  /* medium devices (portrait tablets and large phones, 992px and up) */
  @media (max-width: 992px) {

    .Allmaincontent{
        /* display: block; */
    }
    .content-detail{
        width: 100%;
    }
    .main-detail{
        width: 100%;
    }
    .maincontent-detail{
        width: 100%;
    }
    .detail-left{
        width: 20%;
    }
    .detail-right{
        width: 80%;

    }

  }

  /* medium devices (portrait tablets and large phones, 1200px and up) */
  @media (max-width: 1200px) {
    .maincontent-right{
        display: none;
    }

    .maincontent-left{
        width: 100%;

    }
    .detail-left{
        width: 30%;

    }
    .detail-right{
        width: 70%;
        /* margin-left: 100px; */
    }
    .Allmaincontent{
        display: block;
    }


  }

  /* medium devices (portrait tablets and large phones, 1250px and up) */
  @media (max-width: 1250px) {

  }

   /* medium devices (portrait tablets and large phones, 1400px and up) */
   @media (max-width: 1400px) {

}





